{% extends 'base.html.twig' %}

{% block title %}CourseWork{% endblock %}

{% block body %}
    <h1>CourseWork</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ course_work.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ course_work.title }}</td>
            </tr>
            <tr>
                <th>Body</th>
                <td>{{ course_work.body }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ course_work.status }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('course_work_index') }}">back to list</a>

    <a href="{{ path('course_work_edit', {'id': course_work.id}) }}">edit</a>

    {{ include('course_work/_delete_form.html.twig') }}
{% endblock %}
